MONGODB_URL=mongodb+srv://pmutalik:ppmutalik008@irrigationsys.ef2whua.mongodb.net/?appName=IrrigationSys
DATABASE_NAME=smart_irrigation
SECRET_KEY=sdfvhjsdbfjbslfsjkbfbs6767367242rvwejbq783rqhkwr78gfhjfwe78wef783haw783rhj78efhj7we38eafhjdhd
